*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: white;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  width: 100%;
  background-color: royalblue;
  padding: 1rem 5rem 1rem 5rem;
  min-height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

main {
  padding: 4rem 5rem 1rem 5rem;
}

nav a {
  color: white;
  text-decoration: none;
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

nav a:hover {
  color: rgb(182, 200, 255);
}

nav ul {
  font-size: 2.5rem;
  display: flex;
  list-style-type: none;
}

nav li {
  margin-left: 1rem;
  padding: 0.8rem 2rem;
  background-color: rgb(58, 93, 199);
  border-radius: 0.5rem;
}

ul {
  list-style-type: none;
}

label {
  display: block;
}

.error {
  color: rgb(211, 106, 106);
}

.guestbook-nav {
  max-width: 800px;
  padding: 2rem 0.5rem;
  margin-bottom: 0.2rem;
}

.form {
  max-width: 800px;
  background-color: rgb(245, 245, 245);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

form {
  width: fit-content;
}

.form label {
  font-size: 1.2rem;
  padding-block: 0.5rem;
  text-transform: uppercase;
}

.form input[type='text'] {
  width: 500px;
  font-size: inherit;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.form input[type='submit'] {
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
  background-color: rgb(71, 101, 192);
  cursor: pointer;
}

.form input[type='submit']:focus {
  background-color: rgb(60, 87, 168);
}

.form input[type='submit']:hover {
  background-color: rgb(53, 79, 156);
}

.form textarea {
  width: 500px;
  border-radius: 0.5rem;
}

input,
textarea {
  border: 1px solid rgba(90, 90, 90, 0.5);
}

.btn-container {
  text-align: right;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(245, 245, 245);
  max-width: 800px;
  margin-bottom: 1rem;
  min-height: 100px;
  font-size: 1.6rem;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.post:hover {
  background-color: rgb(240, 240, 240);
}

.post-header {
  border-bottom: 1px solid rgba(131, 131, 131, 0.2);
  padding-bottom: 1rem;
}

.author {
  font-weight: 700;
  color: rgb(109, 109, 109);
  margin-bottom: 0.2rem;
}

.comment {
  margin-block: 0.5rem;
}

.likes {
  margin: 1rem 0.2rem;
}

.likes-badge::before {
  content: '👍';
}

.likes-badge {
  background-color: rgb(124, 148, 223);
  border-radius: 0.2rem;
  color: rgb(48, 73, 150);
  margin: 0.5rem;
  padding: 0.4rem;
  font-size: 1.4rem;
  content: '👍';
}

#like-form {
  display: inline;
}

#like-btn {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  background-color: rgb(71, 101, 192);
  border: 0;
  cursor: pointer;
}

#like-btn:focus {
  background-color: rgb(60, 87, 168);
}

#like-btn:hover {
  background-color: rgb(53, 79, 156);
}
